*{
    font-family: Tajawal;
}
body{
    margin: 0px;
}
.keyword{
    display: inline-block;
    background-color: cadetblue;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding-left: 10px; padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.sporto1{
    font-family: sporto1;
}
.sporto2{
    font-family: sporto2;
}
.sporto3{
    font-family: sporto3;
}
.sporto4{
    font-family: sporto4;
}
.sporto5{
    font-family: sporto5;
}
.sporto6{
    font-family: sporto6;
}
.screen{
    width: 100%;
    min-height: 100vh;
    position: relative;
}

mark{
    background-color: teal;
    color: white;
}

.textbox{
    outline: none;
    border: none;
    width: 80%;
    height: 0.3in;
    margin-top: 0.1in;
    margin-bottom: 0.1in;
    padding: 5px;
}

button{
    outline: none;
    border: none;
    background-color: steelblue;
    border-radius: 10px;
    font-size: 25px;
    color: white;
    border: 2px solid white;
}

.warn{
    font-style: italic;
    color: white;
    font-size: 12px;
    margin: 0px;
    display: block;
}