#navbar{
    position: fixed;
    width: 100%;
    height: 0.6in;
    background-color: white;
    z-index: 1;
}
#navbarMargin{
    height: 0.6in;
}

.nbBtn{
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: black;
    border-radius: 0px;
    width: 24%;
}
.nbBtn:hover{
    background-color: teal;
    color: white;
}
@supports(display: grid){
    #navbar{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .nbBtn{
        width: 100%;
    }
}
@media screen and (min-width: 600px) {
    #navbar{
        width: 75%;
        left: 0px;
    }
}
