/*#screen2{
    display: flex;
    flex-wrap: wrap;
}*/
@media screen and (min-width: 400px) {
    #screen2{
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width: 600px) {
    #screen2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 800px) {
    #screen2{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width: 900px) {
    #screen2{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
#screen2 .card{
    background-color: steelblue;
    background-color: cornflowerblue;
    box-shadow: 0px 0px 2px 0px rgb(64, 64, 64);
    border-radius: 30px;
    padding-top: 5px;
    align-items: center;
    margin-left: 0.1in; margin-right: 0.1in;
    margin-top: 0.2in;
    padding: 5px;
    max-height: 3.5in;
}

.card button{
    margin: 0px;
    margin-top: 5px;
}
.cardImg{
    width: 94%;
    margin-left: 2%; margin-right: 2%;
    margin-top: 0.1in;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.cardTitle{
    color: white;
    font-size: 30px;
    font-weight: bold;
    display: block;
}
.cardAbout{
    display: block;
    color: white;
}

.price{
    display: block;
    border-radius: 10px;
    color: white;
    background-color: chocolate;
    width: 0.8in;
    text-align: center;
    margin: 5px;
}

.cardOffers{
    width: 88%;
    margin-left: 10%;
    color: white;
}
.cardOffers .sporto1, .cardOffers .sporto2, .cardOffers .sporto3, .cardOffers .sporto4, .cardOffers .sporto5, .cardOffers .sporto6{
    margin-left: -10px;
}