/*#screen2{
    display: flex;
    flex-wrap: wrap;
}*/

#screen2 .card{
   width: calc(100%-0.2in);
   padding: 0.2in;
   border-right: 3px solid coral;
   border-right: 5px solid slateblue;
   margin-top: 0.2in;
   margin-right: -2.5%;
   color: rgb(64, 64, 64);
}

.card button{
    margin: 0px;
    margin-top: 5px;
    font-size: 20px;
    border: 1px solid white;
}
.card button::before{
    content: ']';
    font-family: sporto2;
    float: right;
    margin-top: 4px;
    margin-left: 5px;
}
.card .callbefore::before{
    content: '^';
    font-family: sporto2;
    float: right;
    margin-top: 4px;
    margin-left: 5px;
}
.cardImg{
    width: 94%;
    margin-left: 2%; margin-right: 2%;
    margin-top: 0.1in;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.cardTitle{
    color: inherit;
    font-size: 30px;
    font-weight: bold;
    display: block;
}
.cardAbout{
    display: block;
    color: inherit;
}

.price{
    display: block;
    border-radius: 10px;
    color: white;
    background-color: chocolate;
    width: 0.8in;
    text-align: center;
    margin: 5px;
}

.cardOffers{
    width: 88%;
    margin-left: 10%;
    color: white;
}
.cardOffers .sporto1, .cardOffers .sporto2, .cardOffers .sporto3, .cardOffers .sporto4, .cardOffers .sporto5, .cardOffers .sporto6{
    margin-left: -10px;
}

@media screen and (min-width: 400px) {
    #screen2{
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width: 600px) {
    #screen2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #screen2 .card{
        background-color: steelblue;
        background-color: cornflowerblue;
        background-color: slateblue;
        border: unset;
        box-shadow: 0px 0px 2px 0px rgb(64, 64, 64);
        border-radius: 30px;
        padding-top: 5px;
        height: min-content;
        margin-left: 0.1in; margin-right: 0.1in;
        margin-top: 0.2in;
        padding: 5px;
        color: white;
    }
}
@media screen and (min-width: 800px) {
    #screen2{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width: 900px) {
    #screen2{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}