*{
    font-family: tajawal;
}
body{
    margin: 0px;
    margin-bottom: 1in;
}
#navbar{
    height: 0.5in;
    width: 100%;
    background-color: steelblue;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}
#nbmargin{
    height: 0.5in;
}
.docico{
    font-family: cov;
    color: cornflowerblue;
}
td{
    border-bottom: 1px cornflowerblue solid;
    padding-top: 5px; padding-bottom: 5px;
}
#contentBody{
    padding: 5px;
    padding-left: 10px;
}
p{
    border-right: 1px solid rgba(64, 64, 64, 0.603);
    padding-right: 5px;
}
input, textarea{
    outline: none;
    border: none;
    border: 1px solid rgba(64, 64, 64, 0.603);
    border-bottom: 2px solid steelblue;
    width: 90%;
    margin-right: 1%; margin-left: 9%;
    font-size: 16px;
    resize: vertical;
    margin-bottom: 0.1in;
}
button{
    outline: none;
    border: none;
    background-color: steelblue;
    color: white;
    font-size: 20px;
    border-radius: 20px;
}
#comments button{
    float: left;
    margin-left: 10%;
}